button {
    font-family: 'Poppins Regular';
    height: 72px;
    font-size: 32px;
    border-radius: 65px;
    padding: 11px 161px;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    button {
        font-size: 24px;
        padding: 16px 32px;
    }
}