.container {
    height: 98vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.homeContainer {
    height: 712px;
    width: 610px;
    justify-content: space-evenly;
}

.homeContainer,
.buttonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeContainer.logoContainer {
    height: 283px;
    width: 314px;
}

p {
    font-family: 'Poppins Regular';
    font-size: 36px;
    color: #27476E;
}

.buttonContainer {
    justify-content: space-between;
    height: 210px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        height: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homeContainer {
        height: 100%;
        width: 100%;
    }
    .logoContainer img {
        margin-top: 75px;
        height: 165px;
        width: 185px;
    }
    p {
        font-size: 20px;
    }
    .buttonContainer {
        height: 170px;
    }
}