.container {
    height: 95vh;
    width: 100vw;
    justify-content: center;
    position: relative;
}

.container,
.signInContainer {
    display: flex;
    align-items: center;
}

.signInContainer {
    height: 100vh;
    width: 650px;
    margin-top: 53px;
    flex-direction: column;
    justify-content: space-around;
}

.signInContainer .logoContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.signInContainer form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.signInContainer .form_input {
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.signInContainer .button {
    height: 74px;
    width: 550px;
}

span {
    color: #1162E0;
}

a {
    text-decoration: none;
}

.form_input .error {
    border: 4px solid rgb(237, 32, 32);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .signInContainer {
        height: 100vh;
        width: 100vw;
        margin-top: 3px;
        justify-content: flex-start;
    }
    .signInContainer .logoContainer {
        height: 20px;
        margin-bottom: 300px;
    }
    .signInContainer .form_input {
        height: 162px;
        width: 332px;
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .signInContainer .button {
        height: 70px;
        width: 332px;
    }
}